@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300);
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
}
.description {
  font-weight: bold;
  color: #ff7373;
  line-height: 100px;
}
.media-responsive {
  display: none;
  visibility: hidden;
}
.headerList {
  font-size: 1.3em;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background-color: #FF7373;
  height: 80px;
  line-height: 2.5em;
  text-align: right;
  padding: 10px;
  font-size: 1.5em;
}
.headerList li {
  color: #fff;
  list-style-type: none;
  display: inline;
  padding: 10px;
}
.nav-li a {
  color: #fff;
}
.headerList li:hover, .headerList li:active, .headerList li:focus {
  text-decoration: none;
  color: #ffe4e1;
}
.nav-li a:hover, .nav-li a:active, .nav-li a:focus {
  text-decoration: none;
  color: #ffe4e1;
}
.main-content {
  margin-top: 100px;
}
.home {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}
.home-social {
  top: 20px;
}
.profile-pic {
  border: 1px solid #aaa;
  border-radius: 5%;
}
.designation {
  color: #FF7373;
  font-weight: bold;
}
.place {
  color: #484848;
}
.social-icons {
  font-size: 30px;
  padding: 0 15px;
  color: #FF7373;
}
.social-icons:hover {
  text-decoration: none;
  color: #f6546a;
}
.skillblock p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  transition: font-size 0.8s ease, color 0.3s ease;
}
.skillblock p:hover {
  color: #ff7373;
  font-size: 35px;
}
.skillblock {
  padding: 20px;
  margin: 20px;
  color: #ffe4e1;

}
.slider-image {
  height: 600px;
  width: 900px;
  float: left;
  margin: 0 0 0 100px;
  padding: 0px;
  position: relative;
}
.about h3 {
  margin-left: 115px;
  line-height: 1.5em;
  padding: 10px;
  background: none;
  position: absolute;
  width: 870px;
  color: #484848;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  text-align: left;
}
.slick-active {
  z-index: 1000;
}
.no-border {
  border: none;
}
.slick-slide img {
  display: inline;
}
.slick-prev, .slick-next {
  background-color: #ff7373;
  border-radius: 3px;
  height: 40px;
  width: 40px;
}
.slick-prev:hover, .slick-prev:focus, .slick-prev:active, .slick-next:hover, .slick-next:focus, .slick-next:active {
  background-color: #484848;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
  line-height: 1.5;
}
.slick-prev {
  left: 80px;
}
.slick-next {
  right: 120px;
}
.meetup-logos {
  max-height: 60px;
  border: 1px solid #404040;
  border-radius: 2px;
}
.meetup-logos:hover {
  box-shadow: 2px 2px 2px 2px #404040;
}
.about-link {
  color: #FF7373;
}
.about-link:hover {
  color: #f6546a;
  text-decoration: none;
}
.projects {
  font-size: 1.5em;
}
.project-pic {
  height: 300px;
  width: 550px;
}
.project {
  background-size: 100%;
  height: 371px;
  position: relative;
}
.greatreads {
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ), url("../images/greatreads.png");
}
.abp {
  background-image: linear-gradient(
    to bottom,
    rgba(128,128,128, 0),
    rgba(128,128,128, 100)
  ), url("../images/abp.png");
}
.tictactoe {
  background-image: linear-gradient(
    to bottom,
    rgba(128,128,128, 0),
    rgba(128,128,128, 100)
  ), url("../images/tic-tac-toe.png");
}
.greenify {
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ), url("../images/greenify.png");
}
.weather {
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ), url("../images/weather-app.png");
}
.cloudchecker {
  background-image: linear-gradient(
    to bottom,
    rgba(128,128,128, 0),
    rgba(128,128,128, 100)
  ), url("../images/cloudchecker.png");
}
.visible-content {
  background: rgba(0,0,0,0.7);
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #e5e5e5;
  padding: 10px;
  position: absolute;
  opacity: 1;
}
.project:hover .visible-content {
  opacity: 0;
  transition: all 0.8s ease;
  
}
span.project-content {
  background: rgba(0,0,0,0.7);
  color: #e5e5e5;
  text-align: center;
  padding: 15px;
  left: 0;
  position: absolute;
  opacity: 0;
  min-width: auto;
  transition: all 0.8s ease;
}
.project:hover span.project-content {
  opacity: 1;
  min-height: 371px;
  width: 100%;
}
.project-link {
  border: 1px solid grey;
  min-width: 125px;
  padding: 3px;
  border-radius: 1px;
  color: grey;
}
.project-link:hover {
  color: #e5e5e5;
  border-color: #e5e5e5;
  text-decoration: none;
}
.code {
  float: left;
}
.website {
  float: right;
}
.blog {
  background: #ffe4e1;
  padding: 20px;
  margin-top: -20px;
}
.blog > p, li {
  font-size: 20px;
  color: #666666;
}
.blog > h1, h2, h3 {
  color: #ff7373;
}
.blog a:hover {
  color: #ff7373;
  text-decoration: none;
}
.bold {
  font-weight: bolder;
}
.note {
  font-style: italic;
}
.resume {
  margin: 0 auto;
  max-width: 960px;
}
.resume h1 {
  color: #666666;
}
.time {
  float: right;
  margin-top: 20px;
  color: #666666;
  font-size: 16px;
}
.title {
  font-size: 22px;
  color: #ff8f8f;

}
.role {
  font-size: 20px;
  color: #666666;
}
.sidebar {
  text-align: right;
}
.resume-contact {
  padding: 20px 0;
}
.resume-contact li {
  list-style-type: none;
  display: inline;
  padding: 7px;
}
.resume-contact a {
  color: #ff7373;
  font-size: 30px;
}
.resume-contact a:hover {
  text-decoration: none;
  color: #f6546a;
}
.skills li {
  list-style-type: none;
}
.edu {
  font-size: 20px;
  color: #666666;
}
@media only screen and (min-width:768px) and (max-width: 1024px) {
  .description {
    font-size: 20px;
    line-height: 60px;
  }
  .social-icons {
    font-size: 25px;
    padding-bottom: 30px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .edu {
    font-size: 1.3em;
  }
  .resume-contact a {
    font-size: 25px;
  }
  .skills li {
    font-size: 1.1em;
  }
  .role {
    font-size: 1.3em;
  }
  .title {
    font-size: 1.3em;
  }
  .time {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .slider-image {
    margin: 0 auto;
    height: 300px;
  }
  .about h3 {
    font-size: 1em;
  }
  .slick-prev, .slick-next {
    height: 20px;
    width: 20px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 15px;
    line-height: 1.55;
  }
  .main-content {
    margin-top: 180px;
  }
  .media-responsive {
    left: 10px;
    font-size: 30px;
    z-index: 2000;
    top: 10px;
    color: #fff;
    position: fixed;
    display: inline-block;
    visibility: visible;
  }
  .media-responsive:hover {
    color: #ffe4e1;
  }
  .headerList li {
    display: block;
    visibility: hidden;
    padding: 0;
    line-height: 30px;
    padding: 0 20px;
    margin: 0 -10px;
    background: #ff7373;
  }
  ul.show-navbar-menu .nav-li {
    visibility: visible;
  }
  .description {
    font-size: 14px;
    line-height: 28px;
  }
  .social-icons {
    margin-top: -15px;
    font-size: 18px;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
  .projects {
    font-size: 1em;
    height: 75%;
  }
  .project {
    height: 300px;
  }
  .project:hover span.project-content {
    min-height: 300px;
  }
  .edu {
    font-size: 1em;
  }
  .resume-contact a {
    font-size: 18px;
  }
  .resume-contact li {
    padding: 5px;
  }
  .skills li {
    font-size: .8em;
  }
  .role {
    font-size: 1em;
  }
  .title {
    font-size: 1em;
  }
  .time {
    font-size: 9px;
  }
}
@media only screen and (min-width:992px) and (max-width: 1200px) {
  .slider-image {
    margin: 0 auto;
  }
  .about h3 {
    margin-left: 15px;
  }
  .slick-prev {
    left: -17px;
  }
  .slick-next {
    right: 17px;
  }
}
@media only screen and (max-width: 991px) {
  .slider-image {
    margin: 0 auto;
  }
  .about h3 {
    width: 100%;
    margin-left: 0;
  }
  .meetup-logos {
    width: 10%;
  }

  .slick-prev {
    left: -12px;
  }
  .slick-next {
    right: -12px;
  }
}
